<div class="w-full h-full">

  <section class="w-full h-20 bg-purple-600 flex flex-row px-4">

    <div class=" items-center px-4 flex gap-4">
      <div class=" object-cover " style="max-width: 80px ; max-height: 80px;">

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Dian_%28Colombia%29_logo.svg/1280px-Dian_%28Colombia%29_logo.svg.png"  alt="">
      </div>
      <span class="text-white text-xl font-light">Modulo de cargue de archivos</span>

      
    </div>
    
    <div class="flex-grow flex items-center justify-end">

      <button type="button" (click)="onLogout()" mat-stroked-button  ><span class="text-white">Cerrar Session </span></button>
    </div>

  </section>


  <section class="flex flex-row w-full h-full">

    <section class="w-80  flex flex-col h-full bg-purple-400 p-4 gap-4" style="max-width: 320px; min-width: 320px; min-height: 100%; max-height: 100%;">

      <div (click)="changeRuta('archivo')" [ngClass]="ruta==='archivo'? 'bg-blue-500 shadow-md' : 'bg-transparent' " class="border border-gray-200 p-4 rounded-md">
        <span class="text-white">Subir archivos</span>
      </div>

      <div (click)="changeRuta('grafica')" [ngClass]="ruta==='grafica'? 'bg-blue-500 shadow-md' : 'bg-transparent' " class="border border-gray-200 p-4 rounded-md">
        <span class="text-white">Ver graficas</span>
      </div>


    </section>


    <section  *ngIf="ruta==='archivo'" class="flex flex-col p-8 w-full pl-2 pt-2">
  
      <div class="flex flex-col gap-4 mb-4">
        
        <h1>Subir archivo de excel</h1>
  
              <hr>
      </div>
  
      <div class=" rounded-md bg-gray-100 w-full h-[360px] flex items-center justify-center p-6 flex-col">
     
     
         <div (click)="fileinput.click()" class="border-4 border-gray-400 border-dashed flex flex-col items-center justify-center w-full h-3/5">
     
           <mat-icon class="text-7xl text-gray-300" style="max-height: 120px !important; max-width: 120px !important; width: 120px !important; height: 120px !important;">backup</mat-icon>
           <span class="text-gray-500">Seleccionar un archivo con formato XLS ó XLSX</span>
     
         </div>
     
        <input accept=".xls,.xlsx" #fileinput type="file" style="display: none" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
        <div class="flex flex-row gap-4 ">

          <button type="button" class="mt-4" mat-stroked-button color="accent" [hidden]="!filedata"  (click)="borrar()" >Borrar archivo</button>

          <button type="button" class="mt-4" mat-stroked-button color="accent" [disabled]="!filedata" (click)="Upload()" >Guardar archivo</button>
        </div>
     
     
       </div>
  
    </section>


    <section class="flex flex-col p-8 w-full pl-2 pt-2" *ngIf="ruta==='grafica'">

      <div class="flex flex-col gap-4 mb-4">
        
        <h1>Detalle de graficas</h1>
  
              <hr>
      </div>

            <div class="w-full border border-gray-100 mt-4" style="height: 60%;">
              <div class="flex items-center justify-center mt-4">

                  <div class="">
                      <canvas baseChart width="400" height="400"
                                  [datasets]="lineChartData"
                                  [labels]="lineChartLabels"
                                  [type]="'line'">
                        </canvas>
                  </div>

              </div>
            </div>

    </section>

  </section>





</div>